*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ccc;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

header li{
    display: inline;
}

.artigos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artigos article{
    width: 30%;
}

article img{
    width: 180px;
}