h1{
    font-size: 3em;
}

h2{
    font-size: 24pt; /* 1 pt = 1/72 avos de uma polegada. sendo maior que o PX*/
}

section{
    font-size: 2em; /* 1 em = 16px sempre vai observar ou valer o tamanho da font-size do elemento pai
                    sendo o elemento <body> o elemento pai principal que por padrão inicia com o font-size 16px*/
}

/*converter PX para EM
    48px / 16 --> 16 oque ? 16px que é o tamanho padrão do font-size do elemento pai <body>
    48px dividido por 16 = 3 em
    */

div{
    background-color: red;
    height: 1em;
    width: 1em;
}